body{
    background-color: pink;
}
.header p{
font-style: italic;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(36, 32, 20);font-size: 30px;font-weight: 800;
}
.header{
background-color: rgb(236, 69, 97);
}
.header a{
    text-decoration: none;
    color: rgb(240, 231, 231);
    font-size: larger;
}
.Image{
    display: flex;
    justify-content: space-evenly;
}
.head{
    text-align: center;
    font-size: 25px;
}
