body{background-image: url(https://e1.pxfuel.com/desktop-wallpaper/623/328/desktop-wallpaper-book-and-pen-study-books-thumbnail.jpg);
background-repeat: no-repeat;
color: white;
text-align: center;
background-size:cover;
}
.underline{text-decoration: underline;}
body input{background-color: rgb(230, 190, 11); color: white;}
.allign{text-align: left;}



